.App {
  text-align: center;
  width: 100%;

}

.container-drag {
  text-align: center;
}




.wip_drag {
  position: absolute;
  width: 100%;
  height: 14vh;
  background-color: white;
  border: 0px solid rgba(0,0,0,.125);
  padding: 10px
}

.dropclass{
  border: 1px solid #00568F !important;
  background-color: rgb(54, 175, 255,0.08) !important;
 
}




.header {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #E0E0E0;
  width:100%;
}

.task-header {
  display: inline-block;
  background-color: skyblue;
  width:100%;
}

.droppable {
  position: absolute;
  width: 100%;
  height: 48vh;
  background-color: #FAFAFB ;
  border: 0px solid rgba(0,0,0,.125);
  padding: 15px;
  padding-bottom: 10px;
}


.test:focus > .extra {
  display: block;
}



.marginTop {
  margin-top: 120px;
  margin-left: 10px;
  
}
.w-91{
width: 91% !important;
}



.badge-light {
  color: rgb(171, 171, 171) !important;
  background-color:  #ffff !important;

 
}

.bf-mt-20{
  margin-top: 20px !important
}



.paddingtop{
  padding-top: 10px !important
}


.wip_drag .backgroundcolor{
  background-color: #ffff !important;
  border: 2px solid rgba(0,0,0,.125);
}


.droppable .backgroundcolor{
  background-color: #00568F !important;
  border: 2px solid #00568F !important;
}


.droppable .backgroundcolor span{
  background-color: #00568F !important;
  color: #ffff !important;
}

.droppable:focus{
  border: 1px solid #00568F !important;
}


.backgroundcolor:hover {

 
  border: 1px solid #00568F !important;
   
}

.wip_drag .backgroundcolor span:hover {
  
  color: #00568F !important;
}

.bordercolor{
  border: 1px solid rgb(171, 171, 171) !important;
}

.w-50{
  width: 50px;
}
