.feedbackstar .star-rating__star{
    display: center;
    padding: 3px;
    vertical-align: center;
    line-height: 1;
    font-size: 2.5rem;
    color:white;
    transition: color 0.2s ease-out;
  }
  .feedbackstar .star-rating__star:hover {
    cursor: pointer;
  }
  .feedbackstar .star-rating__star.is-selected {
    color: #ebcb1a;
  }
  .feedbackstar .star-rating__star.is-disabled:hover {
    cursor: default;
  }
  .rounded-div{
    display: inline-block;
    border-radius: 3rem;
    width:13.5625rem;
    height: 3.5625rem;
    background-color: #fafafa;
    overflow: hidden;
  }
 .padding123{
     padding:.5rem;
 }
 .feedback-success{
     margin-top: 135px;
 }