.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.login-form {
  margin-top: 25px;
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  padding: 40px;
  background: #fff;
  height: 450px;
  width: 400px;
}
.login-container .login-responsive {
  width: 80%;
}
.div-login-form{
  height: 400px;
  width: 100%;
}
.div-login-form .errorMsg{
 color: #C62828;
}


@media only screen and (min-width: 768px) {
  .login-container .login-responsive {
    width: 25%;
  }
}

.login-form .placeholder {
  /* flex: 0 0 80%; */
  width: 100%;
  /* border: 1px solid lightgray; */
  padding: 20px;
  border-radius: 10px;
}

.login-form .login-textbox {
  width: 100%;
  font-size: 14px;
  border: none;
  border-bottom: 1px #ababab solid;
  padding: 10px 0px;
}

.login-row {
  margin-top: 20px;
  justify-content: center;
}

.login-row [data-nep="TextBox"] {
  width: 80%;
}

.login-row [data-nep="ErrorMessage"] {
  width: 80%;
}

.login-row [data-nep="ErrorMessage"] div {
  padding: 0px 0px !important;
}

.login-button {
  /* margin: 20px auto; */
  min-width: auto;
  width: 90%;
  background: #00568F !important;
}

.login-container {
  height: 100vh;
  overflow: hidden;
  background: url("../../assets/img/moodys_background.jpg") no-repeat; 
  background-size: cover;
}
.brand-logo {
  height: 10%;
  width: 70%;
}
.edge-banner {
  display: flex;
  flex: 0 0 100%;
  width: 100%;
  flex-flow: row wrap;
}
.edge-banner .edge-title {
  /* flex-flow: column nowrap;
    flex: 0 0 50%; */
  padding: 0px;
  margin: 0px;
  text-align: right;
  padding-bottom: 7px;
}

.edge-banner .edge-title h2 {
  width: 100%;
}

.edge-logo {
  margin: auto auto;
  padding: 0px;
}

.edge-logo img {
  /* flex: 1 1 auto; */
  width: 100%;
}

/* .errorMessage [data-nep="ErrorMessage"] {
  /* margin: 0 auto 0 auto; */
/* margin-left: 7%; */
/* width: 80%; */
/* } */

.errorMessage.span {
  visibility: hidden;
}

.login-textbox.error-state {
  border: none;
  border-bottom: 1px red solid;
}


.forgot-password-text{
  color: #77777d;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}
.forgot-password-desc{
color: lightslategray;
}
.forgot-password-link{
color: #00568F;
font-size: 14px;
float: right;
cursor: pointer;
}
.div-product-logo{
display: flex;
justify-content: center;
margin-bottom: 10px;
}
.div-product-logo > img{
  width: auto;
  height: 64px;
  margin-left: 0px;
  margin-right: 24px;
}
.div-brand-log{
display: flex;
justify-content: center;
}
.btn-login-secondary{
  margin: 20px auto;
  min-width: auto;
  width:90%;
  border-color: #adb7c1;
  background-color: #f8f9fa;
  color: #212529;
}
.div-forgot-password-form{
  height: 450px;
  margin-top: 32px;
  width: 100%;
}
.forgot-password-email{
  margin-top: 40px;
}
.div-forgot-password-button{
  padding-top: 31px;
  border: #b5b9bd;
}
.reset-password-msg{
  height: 400px;
}
.reset-password{
  height: 400px;
  width: 100%;
}

.div-reset-password-btn{
  width: 110%;
  margin-top: 20px;
}
.check-icon{
  color: #77777d;
}
.password-policy-text{
  color: #77777d;
}

.reset-password-form{
    margin-top: 25px;
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    padding: 40px;
    background: #fff;
    height: 487px;
    width: 400px;
}

.ContactUs{
  padding-top: 20px;
  padding-left: 35px;
  padding-right: 25px
}
.reset-password-row
{
  margin-bottom: 32px;
}